<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <title>Wildlife Tracker 1.0</title>
  </head>
  <body>
    <div class="container">
    <div class = "jumbotron">
      <h1>Wildlife Tracker</h1>
    </div>

        #parse($template)

    </div>
    <div class= "homelink"><a href="/">Back to Home Page</a></div>
  </body>
</html>
