<h1>Unendangered Animal Name: $unendangered.getName()</h1>

<h3>Sightings:</h3>

#if($unendangered.getSightings())
<ul>
  #foreach ($sighting in $unendangered.getSightings())
    <ul>
      <li>$sighting.getLocation()</li>
      <li>$sighting.getRangerName()</li>
      <li>$sighting.getSightingTime()</li>
    </ul>
  #end
</ul>
#else
<p>No Sightings Currently Logged for $unendangered.getName()</p>
#end

<a href="/">Back to Home Page</a>
<br>
